<% data=Hash.new %>
<% projet=Hash.new %>
<%count=0%>
<%percent=0%>

<!-- On récupère le nombre total de badges validés du projet-->
<%featuresChecked=project.features.map {|c|c.name}.count()%>

<!-- Pour chaque field parent (Dev, Contenu et Design), on récupère le nombre de features validés-->
<% @fieldsParents.each do |field| %>
    <% field.all_features.each do |feature| %>
        <%if(project.has_feature?(feature)) %>
                  <%count=count+1%>
        <%end %>
        <!-- On calcule le pourcentage de badges validés par field (par rapport a tous les badges validés)-->
        <%if(featuresChecked!=0)%>
          <%projet[field.name]=count*100/featuresChecked  %>
        <%end%>
       <!-- On calcule le pourcentage de features validé par field (par rapport au total de badges par field)-->
        <%percent=count*100/field.all_features.count%>
        <% data[field.name]=percent%>
    <% end %>
<%count=0%>
<% end %>

<% #S'il y a au moins un badge validé, on affiche les stats %>
<%if(featuresChecked!=0)%>
<div class="row">
  <div class="col-md-6">
    <%= bar_chart [{name:project.name, data:data}],colors:["grey", "black"], max: 100 %>
  </div>
  <div class="col-md-6">
    <%= pie_chart (projet)%>
  </div>
</div>
<% #Sinon, on afich qu'aucun badge n'a été validé %>
<%else%>
<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <p>Aucun badge n'a été validé pour le moment !</p>
  </div>
</div>
<%end%>
