<!-- <h2>Dashboard</h2> -->

<% content_for :head do %>
  <script type="javascript">
      $(function() {
        var App = <%= current_user %>;
        console.log(App);
        // toto(App);
      });
  </script>
  <% end %>

  <div class="col-md-3">

    <article class="project thumbnail">
      <h2><%= @user %></h2>
      <% #On affiche Administrateur s'il est admin et enseignant s'il est prof
      if @user.admin == true %>
        <h3>Administrateur</h3>
      <% elsif @user.profesor == true %>
        <h3>Enseignant</h3>
      <% end %>
    </article>

  </div>

  <div class="col-md-9">

      <%= render 'stats'%>

    <% @projects.each do |project|%>
      <div class="stats-project">
        <%= render 'statsDetails', project: project %>
      </div>
    <%end%>

</div>
