<p>Bienvenue <%= @email %>!</p>

<p>Pour confirmer votre adresse email, merci de cliquer sur le lien ci-dessous :</p>

<p><%= link_to 'Confirmer mon adresse email', confirmation_url(@resource, confirmation_token: @token) %></p>
