<p>Bonjour <%= @resource.email %>!</p>

<p>Nous vous informons que votre mot de passe a été changé.<br/>
Si vous n'êtes pas à l'origine de cette action, merci de contacter un administrateur au plus vite.</p>
