<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé la réinitialisation de votre mot de passe. Vous pouvez le changer grâce au lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette action, ignorer cet email. Votre mot de passe restera inchangé.</p>
