<% inactive = false if inactive.nil? %>
<% if request.fullpath.match(/projects/).nil? %>
	<%= link_to feature do %>
	<%= render partial:'features/test', locals: { feature: feature, inactive: inactive } %>
</div>
<% end %>
<% else %>
	<%= render partial:'features/test', locals: { feature: feature, inactive: inactive } %>
</div>
<% end %>
