<% inactive = false if inactive.nil? %>
<% if request.fullpath.match(/projects/).nil? %>
	<%= link_to feature do %>
	<%= render partial:'features/test', locals: { feature: feature, inactive: inactive } %>
</div>
<% end %>
<% else %>
	<% project_feature = @project.proj_feat(feature, @project)%>
	<%= render partial:'features/test', locals: { feature: feature, inactive: inactive, project_feature: project_feature } %>
</div>
<% end %>
