<!-- Modal -->
<div id="myModal" class="modal modal-wide fade" role="form">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Validation de badge</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Status</label>
          <div id="modal_status"></div>
        </div>
        <div class="form-group">
          <label for="commentaire">Commentaire :</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
          <div class="form-group">
            <label for="commentaire_prof">Commentaire Professeur :</label>
            <textarea class="form-control" rows="5" id="commentaire_prof"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-danger" id="reject_demande" style="display:none;">Rejeter</button>
          <button type="button" class="btn btn-primary" id="create_demande"></button>
        </div>
      </div>
    </div>
  </div>
</div>
