<div class="feature-badge<% if inactive %> inactive<% end %>" style="background-color: #<%= feature.color %>">
<div class="pattern"></div>
<i class="glyphicon <%= feature.icon %>"></i>
<span class="level"><%= feature.level %></span>
<label><%= feature %></label>