<h1 class="text-center">Edtiion de Caractéristique</h1>
<br/>
<%= render 'form' %>
<br/>
<%= link_to 'Afficher', @feature, class: 'btn btn-default' %>
<%= link_to 'Retour', features_path, class: 'btn btn-default' %>
